In [3]:
import pandas as pd
import matplotlib as plt

In [13]:

airline_csv = pd.read_csv('../data/openFlightsRaw/airline.csv')
airports_csv = pd.read_csv('../data/openFlightsRaw/airports.csv')
countries_csv= pd.read_csv('../data/openFlightsRaw/countries.csv')
planes_csv = pd.read_csv('../data/openFlightsRaw/planes.csv')
routes_csv = pd.read_csv('../data/openFlightsRaw/routes.csv')

In [17]:
routes_csv.head(3)

,AIRLINE,AIRLINE_ID,SRC_AIRPT,SRC_AIRPT_ID,DESTN_AIRPT,DESTIN_AIRPT_ID,CDSHARE,STOPS,EQPT
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2

In [16]:
airports_csv.head(3)

,AIRPT_ID,NAME,CTY,CTRY,IATA,ICAO,LAT,LONG,ALT,TZ,DST,DBTZ,TYPE,SRC
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.08169,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82679,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports

In [58]:
print(routes_csv['SRC_AIRPT_ID'].isnull().values.any())
print(routes_csv['DESTIN_AIRPT_ID'].isnull().values.any())
print(airports_csv['AIRPT_ID'].isnull().values.any())

print(routes_csv.duplicated().any())

False
False
False
False

In [48]:
print(type(routes_csv['SRC_AIRPT_ID'][0]))
print(type(routes_csv['DESTIN_AIRPT_ID'][0]))
print(type(airports_csv['AIRPT_ID'][0]))

<class 'str'>
<class 'str'>
<class 'numpy.int64'>

In [51]:
airports_csv['AIRPT_ID'] = (airports_csv['AIRPT_ID']).astype(str)

In [71]:
routeDistSrc = routes_csv.merge(airports_csv, how='left', left_on='SRC_AIRPT_ID', right_on='AIRPT_ID')

routeDistSrc['SRCLAT'] = routeDistSrc['LAT']
routeDistSrc['SRCLONG'] = routeDistSrc['LONG']
srcCols = ['AIRLINE', 'AIRLINE_ID', 'SRC_AIRPT', 'SRC_AIRPT_ID', 'SRCLAT', 'SRCLONG', 'DESTN_AIRPT', 'DESTIN_AIRPT_ID', 'CDSHARE', 'STOPS', 'EQPT']
routeDistSrc = routeDistSrc[srcCols]

routeDistDestin = routes_csv.merge(airports_csv, how='left', left_on='DESTIN_AIRPT_ID', right_on='AIRPT_ID')

routeDistDestin['DESTINLAT'] = routeDistDestin['LAT']
routeDistDestin['DESTINLONG'] = routeDistDestin['LONG']
destinCols = ['AIRLINE', 'AIRLINE_ID', 'SRC_AIRPT', 'SRC_AIRPT_ID', 'DESTN_AIRPT', 'DESTIN_AIRPT_ID', 'DESTINLAT', 'DESTINLONG', 'CDSHARE', 'STOPS', 'EQPT']
routeDistDestin = routeDistDestin[destinCols]

routeMergeCols = ['AIRLINE', 'AIRLINE_ID', 'SRC_AIRPT', 'SRC_AIRPT_ID', 'DESTN_AIRPT', 'DESTIN_AIRPT_ID', 'CDSHARE', 'STOPS', 'EQPT']
routeDist = routeDistSrc.merge(routeDistDestin, how='left', on=routeMergeCols)

,AIRLINE,AIRLINE_ID,SRC_AIRPT,SRC_AIRPT_ID,SRCLAT,SRCLONG,DESTN_AIRPT,DESTIN_AIRPT_ID,CDSHARE,STOPS,EQPT,DESTINLAT,DESTINLONG
0,2B,410,AER,2965,43.449902,39.956600,KZN,2990,NaN,0,CR2,55.606201,49.278702
1,2B,410,ASF,2966,46.283298,48.006302,KZN,2990,NaN,0,CR2,55.606201,49.278702
2,2B,410,ASF,2966,46.283298,48.006302,MRV,2962,NaN,0,CR2,44.225101,43.081902
3,2B,410,CEK,2968,55.305801,61.503300,KZN,2990,NaN,0,CR2,55.606201,49.278702
4,2B,410,CEK,2968,55.305801,61.503300,OVB,4078,NaN,0,CR2,55.012600,82.650703

In [72]:
routeDist.to_csv('../data/routesDist.csv')