Karla Jacobo
DSCI 8950
EDA Assignment

To start off the Exploratory Data Analysis, I am going to import the data from my team's selected data sources and store them in local variables for easier access.

In [3]:
import numpy as np
import pandas as pd
import collections

airline = pd.read_csv('../data/openFlightsRaw/airline.csv')
airports = pd.read_csv('../data/openFlightsRaw/airports.csv')
countries = pd.read_csv('../data/openFlightsRaw/countries.csv')
planes = pd.read_csv('../data/openFlightsRaw/planes.csv')
routes = pd.read_csv('../data/openFlightsRaw/routes.csv')

In the next block of code, I am going to gather the following information from the datasets:
    - Number of Rows
    - Number of Columns
    - Data types

In [111]:
tables = [airline, airports, countries, planes, routes]
allTableTypes = []
airline.name = 'Airline'
airports.name = 'Airports'
countries.name = 'Countries'
planes.name = 'Planes'
routes.name = 'Routes'

for table in tables:
    print(f'{table.name} table size: {str(table.shape[0])} rows, {str(table.shape[1])} columns')

print()

for table in tables:
    dataTypes = table.dtypes.values

    for type in dataTypes:
        allTableTypes.append(str(np.dtype(type)))

print('All data types featured in tables: ')
print(collections.Counter(allTableTypes))

Airline table size: 6162 rows, 8 columns
Airports table size: 7698 rows, 14 columns
Countries table size: 261 rows, 3 columns
Planes table size: 246 rows, 3 columns
Routes table size: 67663 rows, 9 columns

All data types featured in tables:
Counter({'object': 31, 'int64': 4, 'float64': 2})

Based on the information extracted above, we will be working with Integers, Floats, and Strings. For additional context, the dtype attribute labels Strings as Objects.

By including the counts of the unique data types in the tables, we can extrapolate that a majority of the data we have is categorical. With 31 columns being Strings, and the other 6 being Integers and Floats, the numerical data we have is slim.

Next I am going to find rows and columns within the data sets that contain null values.

In [117]:
for table in tables:
    null_data = table[table.isnull().any(axis=1)]
    null_data_by_column = table.isnull().sum().sort_values(ascending=False).head(3)

    print(f'{table.name} table: ', end='')
    print(f'{str(null_data.shape[0])} rows out of {str(table.shape[0])} are missing data. Columns with most data missing: ')

    for index, value in null_data_by_column.items():
        print(f'\t Column: {str(index)} is missing {str(value)} rows of data.')
    print()

Airline table: 5152 rows out of 6162 are missing data. Columns with most data missing:
	 Column: IATA is missing 4627 rows of data.
	 Column: CLSGN is missing 808 rows of data.
	 Column: ALIAS is missing 506 rows of data.

Airports table: 49 rows out of 7698 are missing data. Columns with most data missing:
	 Column: CTY is missing 49 rows of data.
	 Column: AIRPT_ID is missing 0 rows of data.
	 Column: NAME is missing 0 rows of data.

Countries table: 2 rows out of 261 are missing data. Columns with most data missing:
	 Column: ISO_CD is missing 1 rows of data.
	 Column: DAFIF_CD is missing 1 rows of data.
	 Column: NAME is missing 0 rows of data.

Planes table: 0 rows out of 246 are missing data. Columns with most data missing:
	 Column: NAME is missing 0 rows of data.
	 Column: IATA is missing 0 rows of data.
	 Column: ICAO is missing 0 rows of data.

Routes table: 53066 rows out of 67663 are missing data. Columns with most data missing:
	 Column: CDSHARE is missing 53066 rows of data.
	 Column: EQPT is missing 18 rows of data.
	 Column: AIRLINE is missing 0 rows of data.

Through the analysis conducted above, we can see that there are many instances of missing data. While that is not uncommon in data sets, getting more detail on where the data is missing will help narrow down any problem areas.

For example, the Airline table had the most missing data out of all of the tables. It seems as though one the IATA column is missing data for most of the rows in the table. Because we now know this, we can evaluate whether or not we need the data in that column.